torch
numpy
omegaconf
diffusers
torchvision
matplotlib
tqdm
pillow
lpips
datasets
toml
PyWavelets
wandb
timm
lejepa
git+https://github.com/KohakuBlueleaf/AnySchedule
git+https://github.com/sypsyp97/convnext_perceptual_loss
